/* MAIN */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', "Tahoma", "Arial", sans-serif;
}

.main-width {
    width: 1075px;
    margin: 0 auto;
}

/* HEADER */

header {
    color: white;
    background-color: black;
    height: 40px;
}

.nav_bar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_logo {
    padding: 10px;
    font-size: 14px;
    letter-spacing: .8px;
}

.navbar_logo > span {
    color: #00C7AB;
    font-weight: 700;
}

.nav_ul {
    display: flex;
}

.nav_element {
    display: flex;
    padding: 10px;
    padding-left: 30px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
}

/* SECTION 1*/

.section1 {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(199,199,199,1) 100%);
    display: flex;
    height: 504px;
}

#section1_div {
    display: flex;
    justify-content: space-around
}

.section1_main {
    display: flex;
}

.first_slide { 
    display: flex;
    align-items: center;
}

.firstslide_img {
    display: flex;
    background-image: url(../images/black_chair.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 425px;
    position: relative;
    top: 25px;
    right: 50px;
}

.firstslide_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    right: 25px;
}

.fs_header {
    font-size: 40px;
    font-weight: 300;
}

.fs_header > span {
    color: #00C7AB;
    font-weight: 700;
}

.fs_paragraph {
    font-size: 14px;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 22px;
    width: 435px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.fs_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24.4px;
    background-color: #00C7AB;
    border-radius: 8px;
    height: 52px;
    width: 265px;
    margin-left: 5px;
}

.fs_button > a {
    text-decoration: none;
    color: white;
}

.section1_left {
    color: #00C7AB;
    font-size: 80px;
    display: flex;
    position: relative;
    right: 65px;
}

.section1_right {
    color: #00C7AB;
    font-size: 80px;
    display: flex;
    position: relative;
    left: 65px;
}